p{
            background-color:peachpuff;
            color:darkgreen;
            text-align:center;
            font-size:30px;
            font-weight:170;
            margin:20px;
            padding:20px;
   	    }    